body {
    font-family: "Playfair Display", serif;
    font-size: 14px;
    color: #626262;



}

.conteiner {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: auto;
    margin-right: auto;

    padding-left: 150px;
    padding-right: 150px;

}

h1 {
    visibility: hidden;
}



ul {

    display: flex;
    justify-content: space-between;

    width: 570px;

    margin-bottom: 100px;
    margin-top: 75px;
    padding: 0;

}





.nav-link-list {
    list-style: none;




}

.nav-link-item {
    text-transform: uppercase;
    text-decoration: none;
    color: #626262;
    font-size: 14px;
    padding: 14px 14px;


}



.nav-link-item:hover,
.nav-link-item:focus {
    color: #03a9f4;
}


.articles-list {
    padding: 0;
    margin: 0;
    list-style: none;

    width: 900px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


.articles-item {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 60px;
    margin-bottom: 135px;
}


.articles-item:nth-child(2n) {
    margin-right: 0;
}

.articles-item:nth-child(6) {
    margin-bottom: 55px;
}

.articles-item:nth-child(5) {
    margin-bottom: 55px;
}


.link {
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;

    font-family: "Ubuntu", sans-serif;
    font-size: 14px;

    margin: 32px 0px;


}

.link-topic {
    color: #b4ad9e;
    text-decoration: none;

}

.link-topic:focus,
.link-topic:hover {
    color: #03a9f4;
}

.preview-text {
    text-align: left;
}




.title {
    text-align: left;
    font-size: 30px;
    margin-bottom: 42px;
}

.button-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    width: 162px;
    height: 58px;
    margin-bottom: 70px;

    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-weight: 300;


    background-color: #ffffff;
    border-color: #626262;

}

.button-link:focus,
.button-link:hover {
    color: #03a9f4;
}